* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.container123 {
  background-color: grey;
  display: flex;
  padding: 1vw;
  width: 100vw;
  height: 100vh;
}
.left,
.right {
  flex-basis: 50vw;
  padding: 1px;
}
#html-code,
#css-code,
#javascript-code {
  width: 48vw;
  height: 28%;
  padding: 10px 20px;
}
#output {
  width: 48vw;
  height: 92vh;
  background: #fff;
}
label i {
  margin-left: 5px;
  margin-right: 5px;
}
label {
  display: inline-block;
  width: 48vw;
  height: 5vh;
  background-color: black;
  color: #fff;
}
